/* basic reset */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* app */
html {
    font-size: 100%;
}
body {
    background: rgba(16, 19, 59, 0.55);
    font-family: 'Open Sans',sans-serif;
}


[class*='category-'] {
    display: inline-block;
    font-size: 10px;
    background: #444;
    vertical-align: middle;
    color: #fff;
    padding: 10px;
    width: 75px;
    text-align: center;
    border-radius: 2px;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
}
.category- {
    background: transparent;
}
.category-Personal {
    background: #2980b9;
}
.category-Work {
    background: #8e44ad;
}
.category-School {
    background: #f39c12;
}
.category-Cleaning {
    background: #16a085;
}
.category-Other {
    background: #d35400;
}
footer {
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
}
footer a {
    color: #f39c12;
}

/* custom select menu */
.taskCategory {
    -webkit-appearance: none;
            appearance: none;
    cursor: pointer;
    padding-left: 16.5px; /*specific positioning due to difficult behavior of select element*/
    background: #fff;
}
.selectArrow {
    position: absolute;
    z-index: 10;
    top: 35%;
    right: 0;
    margin-right: 20px;
    color: #777;
    pointer-events: none;
}
.taskCategory option {
    background: #fff;
    border: none;
    outline: none;
    padding: 0 100px;
}


/* new style */
#wrapper {
	margin-top: 5% !important;
}
#content {
	background: beige;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: rgba(6, 11, 12, 0.62);
}
.list-group-item {
	color: black;
    float: left;
    width: 100%;
}